body {
	font-family: "Courier New";
}
h1 {
	font-size: 175px;
	font-weight: normal;
	color: #4C4C4C;
}
#create-post {
	margin: 60px 0 0 0;
}
#create-post-btn {
	margin: 60px 0 0 0;
}
#post-list {
	margin: 50px 0 0 0;
}
#clear-posts {
	margin: 20px 0 0 0;
}